<?xml version="1.0" encoding="utf-8"?>
<!-- 2019-08-01 K.OHWADA -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ohwada.android.camera221">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!-- MainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!-- SettingsActivity -->
        <activity
            android:name=".SettingsActivity" >
        </activity>

    </application>

</manifest>